body,
html {
  height: 100%;
  margin: 0;
}

body {
  display: none;
  color: #284135;
  background-color: #f3f2f1;
}

#main-scrollbar {
  padding-left: 30px;
  overflow: hidden;
  outline: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scroll-content {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#landing-container {
  position: relative;
  color: #fff;
}

#landing-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  font-weight: 700;
}

.landing-img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.story-img {
  visibility: hidden;
  width: 100%;
}
