@media screen and (max-device-width: 480px) {
  #mainScrollbar {
    padding-left: 6vw;
  }
  #side-nav {
    width: 6vw;
  }
  #side-nav a {
    font-size: 3.5vw;
  }
  .story-text,
  .footer {
    font-size: 4vw;
  }
  #side-nav ul {
    padding-inline-start: 0.3vw;
  }
  .story-section {
    margin: 10vw 2vw 10vw 0;
  }
  .story-img-margin {
    margin-top: 0;
  }
  .story-mid-row {
    margin-top: 10vw;
  }
  .background-number-col-18 {
    top: -17vw;
    left: 57vw;
  }
  .background-number-col-04 {
    left: 9vw;
    top: -18vw;
  }
  .landing-text {
    font-size: 10vw;
  }
  .landing-and {
    top: 51%;
  }
  .landing-groom {
    top: 40%;
    left: 35%;
  }
  .landing-bride {
    top: 60%;
    left: 70%;
  }
  .landing-hashtag {
    font-size: 3.5vw;
    top: 98%;
    left: 87%;
  }
  .focus-in-contract {
    -webkit-animation: text-focus-in 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  .about-section {
    margin: 20vw 2vw 20vw 0;
  }
  .about-col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    display: block;
    justify-content: normal;
    text-align: center;
  }
  .about-col div:first-child {
    text-align: inherit;
  }
  .about-col-mid {
    margin-top: 20vw;
  }
  .about-col-last {
    margin-top: 20vw;
  }
  .about-first-text {
    font-size: 4vw;
  }
  .about-mid-text {
    font-size: 7vw;
  }
  .about-last-text {
    font-size: 4vw;
  }
  .gallery-section {
    margin: 10vw 2vw 10vw 0;
  }
  .gallery-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #mainScrollbar {
    padding-left: 3.5vw;
  }
  #side-nav {
    width: 3.5vw;
  }
  #side-nav a {
    font-size: 1.8vw;
  }
  .story-text,
  .footer {
    font-size: 2.5vw;
  }
  #side-nav ul {
    padding-inline-start: 0.3vw;
  }
  .landing-text {
    font-size: 9vw;
  }
  .landing-groom {
    top: 40%;
    left: 35%;
  }
  .landing-and {
    top: 52%;
    left: 61%;
  }
  .landing-bride {
    top: 60%;
    left: 75%;
  }
  .landing-hashtag {
    font-size: 2.5vw;
    top: 97%;
    left: 90%;
  }
  .focus-in-contract {
    -webkit-animation: text-focus-in 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 2.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  .about-section {
    margin: 15vw 3vw 15vw 3vw;
  }
  .about-col {
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
  }
  .about-col-mid {
    margin-top: 15vw;
  }
  .about-col-last {
    margin-top: 25vw;
  }
  .about-first-text {
    font-size: 2vw;
  }
  .about-mid-text {
    font-size: 3.5vw;
  }
  .about-last-text {
    font-size: 2.5vw;
  }
  .gallery-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainScrollbar {
    padding-left: 3vw;
  }
  #side-nav {
    width: 3vw;
  }
  #side-nav a {
    font-size: 1.4vw;
  }
  .story-text,
  .footer {
    font-size: 2.2vw;
  }
  #side-nav ul {
    padding-inline-start: 0.5vw;
  }
  .landing-hashtag {
    top: 96%;
  }
  .about-col-mid {
    margin-top: 18vw;
  }
  .about-col-last {
    margin-top: 28vw;
  }
  .about-first-text {
    font-size: 1.5vw;
  }
  .about-mid-text {
    font-size: 3.5vw;
  }
  .about-last-text {
    font-size: 2vw;
  }
}
@media screen and (min-device-width: 1025px) and (max-device-width: 1439px) {
  #mainScrollbar {
    padding-left: 2vw;
  }
  #side-nav {
    width: 2vw;
  }
  #side-nav a {
    font-size: 1vw;
  }
  #side-nav ul {
    padding-inline-start: 0.3vw;
  }
}
@media screen and (min-device-width: 1440px) {
  #mainScrollbar {
    padding-left: 2vw;
  }
  #side-nav {
    width: 2vw;
  }
  #side-nav a {
    font-size: 1vw;
  }
  #side-nav ul {
    padding-inline-start: 0.2vw;
  }
  .about-section .row {
    margin-left: 10vw;
  }
  .about-section .row div:first-child {
    max-width: 22vw;
  }
}
